<!DOCTYPE html>

<html lang="ko">
<head>
  <title>Ntils Tester</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <environment names="Development">
    <link rel="stylesheet" href="~/dist/css/ntils-bootstrap.css" asp-append-version="true"/>
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/dist/css/ntils-bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/css/site.min.css"/>
  </environment>
</head>
<body>
<div id="app"></div>

<environment names="Development">
  <script src="~/dist/js/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/js/main.js" asp-append-version="true"></script>
</environment>

<environment names="Staging,Production">
  <script src="~/dist/js/vendor.min.js" asp-append-version="true"></script>
  <script src="~/dist/jst/main.min.js" asp-append-version="true"></script>
</environment>

</body>
</html>
