html, body {
  min-height: 100%;
}
html {
  font-size: 12px;
  font-family: "Noto Sans KR", "Malgun Gothic", "AppleSDGothic", "Helvetica Neue", "Lucida Grande", "Sans serif", sans-serif;
}

body {
  transition: all .5s;
}


